<div ng-controller="NewchallengeCtrl">
  <div class="container" style="margin-bottom: 40px;">
    <h2>Привіт, {{username}}!</h2>
    <div class="row">
      <div class="col-sm-6">
        <h3>Викликати волонтера: <strong>{{volunteer.name}}</strong></h3>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 sr-only" for="name">Адреса</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="name" ng-model="challenge.address" placeholder="Адреса">
            </div>
          </div>
          <a class="btn btn-success" ng-click="call()">Викликати</a>
        </form>
      </div>
    </div>
  </div>
</div>
