<div class="modal-header">
    <h3 class="modal-title">Форма входу!</h3>
</div>
<div class="modal-body">
    <form role="form">
      <div class="form-group">
        <div class="input-group">
          <label class="sr-only" for="phone">Номер мобільного</label>
          <div class="input-group-addon">+38</div>
          <input type="text" class="form-control" id="phone" name="phone" placeholder="Номер мобільного">
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only" for="password">Пароль</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
      </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Закрити</button>
    <button class="btn btn-primary" ng-click="ok()">Увійти</button>
</div>
