<nav class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-home"></span> Бабуля
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="hidden-lg hidden-sm">
          <a ng-href="#">Главная</a>
        </li>
      </ul>

      <a href="#auth" class="btn btn-default navbar-btn navbar-right" ng-click="open()">Увійти</a>
    </div>
  </div>
</nav>
