<footer class="footer" ng-controller="FooterCtrl">
  <div class="container text-center">
    <h3>Читайте нас в соціальних мережах</h3>
    <ul class="socials list-inline">
      <li><a href="#"><i class="fa fa-2x fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-foursquare"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-slideshare"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-vk"></i></a></li>
    </ul>
    <p class="lead text-center">{{ date | date:'HH:MM dd-MM-yyyy ' }}</li>
    </p>
  </div>
</footer>
