<footer class="footer" ng-controller="FooterCtrl">
  <div class="container text-center">
    <h3>Читайте нас в соціальних мережах</h3>
    <ul class="socials list-inline">
      <li><a href="#"><i class="fa fa-2x fa-adn"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-android"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-angellist"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-bitbucket"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-btc"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-codepen"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-delicious"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-deviantart"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-digg"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-dribbble"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-empire"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-flickr"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-foursquare"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-ge"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-git"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-github"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-gittip"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-ioxhost"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-jsfiddle"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-lastfm"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-meanpath"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-pagelines"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-pied-piper"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-pinterest"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-qq"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-rebel"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-reddit"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-renren"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-share-alt"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-skype"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-slack"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-slideshare"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-soundcloud"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-spotify"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-stack-exchange"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-stack-overflow"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-steam"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-stumbleupon"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-tencent-weibo"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-trello"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-tumblr"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-twitch"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-vine"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-vk"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-wechat"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-weibo"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-weixin"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-wordpress"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-xing"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-yahoo"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-yelp"></i></a></li>
      <li><a href="#"><i class="fa fa-2x fa-youtube"></i></a></li>
    </ul>
    <p class="lead text-center">{{ date | date:'HH:MM dd-MM-yyyy ' }}</li>
    </p>
  </div>
</footer>
